In [5]:
import pandas as pd 
a=pd.read_csv("HRDatasets.csv")
print(a)

                Employee_Name  EmpID  MarriedID  MaritalStatusID  GenderID  \
0         Adinolfi, Wilson  K  10026          0                0         1
1    Ait Sidi, Karthikeyan     10084          1                1         1
2           Akinkuolie, Sarah  10196          1                1         0
3                Alagbe,Trina  10088          1                1         0
4            Anderson, Carol   10069          0                2         0
..                        ...    ...        ...              ...       ...
306            Woodson, Jason  10135          0                0         1
307        Ybarra, Catherine   10301          0                0         0
308          Zamora, Jennifer  10010          0                0         0
309               Zhou, Julia  10043          0                0         0
310             Zima, Colleen  10271          0                4         0

     EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
0              1       5            4                       0   62506  ...
1              5       3            3                       0  104437  ...
2              5       5            3                       0   64955  ...
3              1       5            3                       0   64991  ...
4              5       5            3                       0   50825  ...
..           ...     ...          ...                     ...     ...  ...
306            1       5            3                       0   65893  ...
307            5       5            1                       0   48513  ...
308            1       3            4                       0  220450  ...
309            1       3            3                       0   89292  ...
310            1       5            3                       0   45046  ...

            Department     ManagerName ManagerID  RecruitmentSource  \
0    Production         Michael Albert      22.0           LinkedIn
1                IT/IS      Simon Roup       4.0             Indeed
2    Production         Kissy Sullivan      20.0           LinkedIn
3    Production           Elijiah Gray      16.0             Indeed
4    Production         Webster Butler      39.0      Google Search
..                 ...             ...       ...                ...
306  Production         Kissy Sullivan      20.0           LinkedIn
307  Production         Brannon Miller      12.0      Google Search
308              IT/IS      Janet King       2.0  Employee Referral
309              IT/IS      Simon Roup       4.0  Employee Referral
310  Production          David Stanley      14.0           LinkedIn

     PerformanceScore EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
0             Exceeds             4.60               5                    0
1         Fully Meets             4.96               3                    6
2         Fully Meets             3.02               3                    0
3         Fully Meets             4.84               5                    0
4         Fully Meets             5.00               4                    0
..                ...              ...             ...                  ...
306       Fully Meets             4.07               4                    0
307               PIP             3.20               2                    0
308           Exceeds             4.60               5                    6
309       Fully Meets             5.00               3                    5
310       Fully Meets             4.50               5                    0

    LastPerformanceReview_Date Absences
0                   17-01-2019        1
1                   24-02-2016       17
2                   15-05-2012        3
3                   01-03-2019       15
4                   02-01-2016        2
..                         ...      ...
306                 28-02-2019       13
307                 09-02-2015        4
308                 21-02-2019       16
309                 02-01-2019       11
310                 30-01-2019        2

[311 rows x 35 columns]

In [6]:
print(a.head())

              Employee_Name  EmpID  MarriedID  MaritalStatusID  GenderID  \
0       Adinolfi, Wilson  K  10026          0                0         1
1  Ait Sidi, Karthikeyan     10084          1                1         1
2         Akinkuolie, Sarah  10196          1                1         0
3              Alagbe,Trina  10088          1                1         0
4          Anderson, Carol   10069          0                2         0

   EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
0            1       5            4                       0   62506  ...
1            5       3            3                       0  104437  ...
2            5       5            3                       0   64955  ...
3            1       5            3                       0   64991  ...
4            5       5            3                       0   50825  ...

          Department     ManagerName ManagerID RecruitmentSource  \
0  Production         Michael Albert      22.0          LinkedIn
1              IT/IS      Simon Roup       4.0            Indeed
2  Production         Kissy Sullivan      20.0          LinkedIn
3  Production           Elijiah Gray      16.0            Indeed
4  Production         Webster Butler      39.0     Google Search

   PerformanceScore EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
0           Exceeds             4.60               5                    0
1       Fully Meets             4.96               3                    6
2       Fully Meets             3.02               3                    0
3       Fully Meets             4.84               5                    0
4       Fully Meets             5.00               4                    0

  LastPerformanceReview_Date Absences
0                 17-01-2019        1
1                 24-02-2016       17
2                 15-05-2012        3
3                 01-03-2019       15
4                 02-01-2016        2

[5 rows x 35 columns]

In [7]:
print(a.tail())

          Employee_Name  EmpID  MarriedID  MaritalStatusID  GenderID  \
306      Woodson, Jason  10135          0                0         1
307  Ybarra, Catherine   10301          0                0         0
308    Zamora, Jennifer  10010          0                0         0
309         Zhou, Julia  10043          0                0         0
310       Zima, Colleen  10271          0                4         0

     EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
306            1       5            3                       0   65893  ...
307            5       5            1                       0   48513  ...
308            1       3            4                       0  220450  ...
309            1       3            3                       0   89292  ...
310            1       5            3                       0   45046  ...

            Department     ManagerName ManagerID  RecruitmentSource  \
306  Production         Kissy Sullivan      20.0           LinkedIn
307  Production         Brannon Miller      12.0      Google Search
308              IT/IS      Janet King       2.0  Employee Referral
309              IT/IS      Simon Roup       4.0  Employee Referral
310  Production          David Stanley      14.0           LinkedIn

     PerformanceScore EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
306       Fully Meets             4.07               4                    0
307               PIP             3.20               2                    0
308           Exceeds             4.60               5                    6
309       Fully Meets             5.00               3                    5
310       Fully Meets             4.50               5                    0

    LastPerformanceReview_Date Absences
306                 28-02-2019       13
307                 09-02-2015        4
308                 21-02-2019       16
309                 02-01-2019       11
310                 30-01-2019        2

[5 rows x 35 columns]

In [8]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  Absences                    311 non-null    int64
dtypes: float64(2), int64(15), object(18)
memory usage: 85.2+ KB
None

In [9]:
print(a.isnull().sum())

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
Absences                        0
dtype: int64

In [11]:
a['Salary']=a['Salary'].astype(float)
a['DateofHire']=pd.to_datetime(a['DateofHire'],format='%d-%m-%Y')
a['DOB']=pd.to_datetime(a['DOB'],format='%d-%m-%Y')
a['DateofTermination']=pd.to_datetime(a['DateofTermination'],format='%d-%m-%Y')
a['LastPerformanceReview_Date']=pd.to_datetime(a['LastPerformanceReview_Date'],format='%d-%m-%Y')

In [12]:
print(a.describe())

              EmpID   MarriedID  MaritalStatusID    GenderID  EmpStatusID  \
count    311.000000  311.000000       311.000000  311.000000   311.000000
mean   10156.000000    0.398714         0.810289    0.434084     2.392283
min    10001.000000    0.000000         0.000000    0.000000     1.000000
25%    10078.500000    0.000000         0.000000    0.000000     1.000000
50%    10156.000000    0.000000         1.000000    0.000000     1.000000
75%    10233.500000    1.000000         1.000000    1.000000     5.000000
max    10311.000000    1.000000         4.000000    1.000000     5.000000
std       89.922189    0.490423         0.943239    0.496435     1.794383

           DeptID  PerfScoreID  FromDiversityJobFairID         Salary  \
count  311.000000   311.000000              311.000000     311.000000
mean     4.610932     2.977492                0.093248   69020.684887
min      1.000000     1.000000                0.000000   45046.000000
25%      5.000000     3.000000                0.000000   55501.500000
50%      5.000000     3.000000                0.000000   62810.000000
75%      5.000000     3.000000                0.000000   72036.000000
max      6.000000     4.000000                1.000000  250000.000000
std      1.083487     0.587072                0.291248   25156.636930

            Termd  ...           Zip                            DOB  \
count  311.000000  ...    311.000000                            311
mean     0.334405  ...   6555.482315  1979-07-09 01:27:58.456591616
min      0.000000  ...   1013.000000            1952-01-18 00:00:00
25%      0.000000  ...   1901.500000            1975-02-26 12:00:00
50%      0.000000  ...   2132.000000            1981-11-23 00:00:00
75%      1.000000  ...   2355.000000            1986-04-24 12:00:00
max      1.000000  ...  98052.000000            1998-09-19 00:00:00
std      0.472542  ...  16908.396884                            NaN

                          DateofHire              DateofTermination  \
count                            311                            104
mean   2013-02-20 19:49:58.070739456  2015-06-22 01:23:04.615384576
min              2006-09-01 00:00:00            2010-08-30 00:00:00
25%              2011-08-15 00:00:00            2014-02-07 18:00:00
50%              2013-02-18 00:00:00            2015-08-30 12:00:00
75%              2014-09-29 00:00:00            2016-09-16 00:00:00
max              2018-09-07 00:00:00            2018-10-11 00:00:00
std                              NaN                            NaN

        ManagerID  EngagementSurvey  EmpSatisfaction  SpecialProjectsCount  \
count  303.000000        311.000000       311.000000            311.000000
mean    14.570957          4.110000         3.890675              1.218650
min      1.000000          1.120000         1.000000              0.000000
25%     10.000000          3.690000         3.000000              0.000000
50%     15.000000          4.280000         4.000000              0.000000
75%     19.000000          4.700000         5.000000              0.000000
max     39.000000          5.000000         5.000000              8.000000
std      8.078306          0.789938         0.909241              2.349421

          LastPerformanceReview_Date    Absences
count                            311  311.000000
mean   2017-10-24 13:48:48.617363456   10.237942
min              2010-07-14 00:00:00    1.000000
25%              2016-05-19 00:00:00    5.000000
50%              2019-01-21 00:00:00   10.000000
75%              2019-02-21 00:00:00   15.000000
max              2019-12-02 00:00:00   20.000000
std                              NaN    5.852596

[8 rows x 21 columns]

In [14]:
print("Marital Data")
print(a['MaritalDesc'].value_counts())
print("\nDepartment Data")
print(a['Department'].value_counts())
print("\nPosition Data")
print(a['Position'].value_counts())
print("\nManager Data")
print(a['ManagerName'].value_counts())

Marital Data
MaritalDesc
Single       137
Married      124
Divorced      30
Separated     12
Widowed        8
Name: count, dtype: int64

Department Data
Department
Production              209
IT/IS                    50
Sales                    31
Software Engineering     11
Admin Offices             9
Executive Office          1
Name: count, dtype: int64

Position Data
Position
Production Technician I         137
Production Technician II         57
Area Sales Manager               27
Production Manager               14
Software Engineer                10
IT Support                        8
Data Analyst                      7
Sr. Network Engineer              5
Database Administrator            5
Network Engineer                  5
BI Developer                      4
Senior BI Developer               3
Administrative Assistant          3
Sales Manager                     3
Accountant I                      3
Sr. DBA                           2
IT Manager - DB                   2
Sr. Accountant                    2
Director of Operations            1
Shared Services Manager           1
Data Analyst                      1
Data Architect                    1
Principal Data Architect          1
IT Manager - Infra                1
President & CEO                   1
Enterprise Architect              1
BI Director                       1
Director of Sales                 1
IT Director                       1
IT Manager - Support              1
Software Engineering Manager      1
CIO                               1
Name: count, dtype: int64

Manager Data
ManagerName
Michael Albert        22
Kissy Sullivan        22
Elijiah Gray          22
Kelley Spirea         22
Brannon Miller        22
Ketsia Liebig         21
David Stanley         21
Amy Dunn              21
Webster Butler        21
Janet King            19
Simon Roup            17
Peter Monroe          14
John Smith            14
Lynn Daneault         13
Alex Sweetwater        9
Brian Champaigne       8
Brandon R. LeBlanc     7
Jennifer Zamora        7
Eric Dougall           4
Debra Houlihan         3
Board of Directors     2
Name: count, dtype: int64

In [15]:
#calculate total Employees 
total_employees=len(a)
print((f"Total Employees:{total_employees}"))

Total Employees:311

In [16]:
#fill missing  values (NaT) with 'Currently Working '
a['DateofTermination']=a['DateofTermination'].fillna(value='CurrentlyWorking')
print(a['DateofTermination'])

0         CurrentlyWorking
1      2016-06-16 00:00:00
2      2012-09-24 00:00:00
3         CurrentlyWorking
4      2016-06-09 00:00:00
              ...
306       CurrentlyWorking
307    2015-09-29 00:00:00
308       CurrentlyWorking
309       CurrentlyWorking
310       CurrentlyWorking
Name: DateofTermination, Length: 311, dtype: object

In [17]:
#count the number of employees who have left
employees_left_count=(a['DateofTermination']!='CurrentlyWorking').sum()
print(f"Number of employees who have left : {employees_left_count}")

Number of employees who have left : 104

In [20]:
#count the number of employees currently working
employees_working_count=(a['DateofTermination']=='CurrentlyWorking').sum()
print(f"Number of employees currently working : {employees_working_count}")

Number of employees currently working : 207

In [21]:
#calculate total departments
total_departments=a['Department'].nunique()
print(f"Total Departments : {total_departments}")

Total Departments : 6

In [22]:
#calculate average sakary
average_salary=a['Salary'].mean()
print(f"Average Salary : Rs.{average_salary:.2f}")

Average Salary : Rs.69020.68

In [24]:
#calculate average years with Company
from datetime import datetime
#calculate years with company fron "DateofHire"
a['YearsWithCompany']=(datetime.now()-a['DateofHire']).dt.days/365.25
#claculate average year with company
average_years_with_company=a['YearsWithCompany'].mean()
print(f"Average Years with company : {average_years_with_company:.2f}")

Average Years with company : 12.26

In [25]:
#calculate average years with Company
from datetime import datetime
#calculate Age with Emplloyees
a['Age']=(datetime.now()-a['DOB']).dt.days/365.25
#claculate average age of employees
average_age=a['Age'].mean()
print(f"Average Age : {average_age:.2f}")

Average Age : 45.88

In [27]:
#calculate the attrition rate
attrition_rate =(employees_left_count/total_employees )*100
print(f"Attrition Rate: {attrition_rate:.2f}%")

Attrition Rate: 33.44%